@font-face {
  font-family: 'Circular';
  src: local('Circular'), url(./utils/fonts/lineto-circular-pro-book.ttf) format('truetype');
}

.circular {
  font-family: 'Circular';
}

.open {
  font-family: 'Open Sans', sans-serif;
  color: rgb(35, 35, 35);
  line-height: 1.75;
}

body {
  margin: 0;
  background-color: #FAF8F0;
}


body * {
  box-sizing: border-box;
}